{% extends 'basicforbot.html' %}
{% block title %} profile{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
 <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Picture -->
                <img src="https://images.yourstory.com/cs/4/8e7cc4102d6c11e9aa979329348d4c3e/Untitleddesign47-1614312688193.png?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces" alt="Profile Picture" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <!-- Profile Details -->
                <h2>Expert Profile</h2>
                <p><strong>Name:</strong> Selvarani Elangovan</p>
                <p><strong>Work Place:</strong> CORTEVA AGRISCIENCE</p>
                <p><strong>Location:</strong> Jaipur, India</p>
                <p><strong>About Me:</strong> Corteva Agriscience is a global pure-play agriculture company that provides farmers around the world with a complete portfolio of agriculture solutions in the industry. This includes a balanced and diverse mix of seed, crop protection, and digital solutions focused on maximising productivity to enhance yield, sustainability, and profitability.</p>
            </div>
        </div>
    </div>
{% endblock %}